@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

:root {
    --primary: #22ce67;
    --danger: #ff3d71;
    --blue: #00a8ff;
    --dark-1: #18181b;
    --gray: #27272a;
    --gray-1: #27272a62;
}

input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-1);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 12px;
    border: 2px solid var(--dark-1);
}
